body{
    margin: 0px;
    padding: 0px;
    background: url('bg.jpg');
    font-family: 'Mochiy Pop P One', sans-serif;
}
.left{
    display: inline-block;
    color: white;
    position: absolute;
    left: 34px;
    top: 20px;
}
.left div{
    text-align: center;
}
.left img{
    margin-left: 20px;
    width: 100px;
    filter: invert(100%);
}
.right{
    color: white;
    position: absolute;
    right: 34px;
    top: 0px;
    right: 34px;
    top: 20px;
}
.mid{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    display: block;
    border-bottom-left-radius: 25px;
    border-bottom-Right-radius: 25px;
    margin: 0px auto;
    width: 40%;
}
.container{
    border: 2px solid white;
    margin: 12px 24px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 75px;
    background-color: rgba(0, 0, 0, 0.644);
    width: 28%;
    color: white;
}
.navbar{
    display: inline-block;
    list-style: none;
    
} 
.navbar li{
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 35px 24px;
    cursor: pointer;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.navbar li a:hover ,.navbar li a.active{
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.btn{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    padding: 13px 14px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.form-group input {
    text-align: center;
    display: block;
    width: 100%;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}
